*
{
    box-sizing: border-box;
}

body{
    background: #d4f0f0;
}

h1{
    text-align: center;
    background: #539696;
    color: #fff;
    font-size: 8vw;
    font-weight: bold;
    font-family: 'Dancing Script';
}

form {
    display: flex;
}
#form{
    display: none;
}

input,
button
{
    border:1px solid #ccc;
    font-size:5vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
    line-height:5vw;
    margin:0;
}
input
{
    border-radius:5vw 0 0 5vw;
}
button
{
    border-radius:0 5vw 5vw 0;
    background: #ffffb5;
}
#chats
{
    font-size:5vw;
   
}
#chats dt
{
    margin: 2vw 0;
    border:1px solid #333;
    border-radius:3vw;
    padding:1vw 3vw;
    display: inline-block;
}
#chats dt+dd
{
    margin-left: 8vw;
    position: relative;
    background-color: #ffffb5;
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dt+dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -7vw;
    border: 3vw solid transparent;
    border-right: 8vw solid #ffffb5;
    transform: rotate(40deg);
    z-index: -1;
}
